<footer class="footer">
  <div class="footer_wrapper wrapper">
    <div class="footer_logo">
      <img src="assets/images/logo.png" alt="logo" class="courses_logo">
      <p>Interdum velit laoreet id donec ultrices
        tincidunt arcu. Tincidunt tortor aliquam nulla
        facilisi cras fermentum odio eu.</p>
      <ul class="social_links">
        <li class="social_item"><a><img src="assets/images/links/01.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/02.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/03.png" alt="link"></a></li>
        <li class="social_item"><a><img src="assets/images/links/04.png" alt="link"></a></li>
      </ul>
    </div>
    <div class="footer_services">
      <h3 class="title">Resourses</h3>
      <ul>
        <li>Radio Guide</li>
        <li>Case Studies</li>
        <li>Blog</li>
        <li>Product Tour</li>
        <li>All News</li>
      </ul>
    </div>
    <div class="footer_links">
      <h3 class="title">Company</h3>
      <ul>
        <li>About</li>
        <li>Comprasion</li>
        <li>Integrations</li>
        <li>Contact</li>
        <li>Privacy & Policy</li>
      </ul>
    </div>
  </div>
</footer>