<div class="wrapper">
  <section class="categories">
    <h3>Charts: Top 50</h3>
    <ul class="categories_list">
      <li *ngFor="let item of list" class="categories_item">
        <img [src]="item.img" alt="">
        <label><b>{{ item.title }}</b></label>
        <span>Top 50</span>
      </li>
    </ul>
  </section>
  
  <section class="categories2">
    <div class="left">
      <h3>Listening History</h3>
      <ul class="left_list">
        <li *ngFor="let item of history" class="left_item">
          <div class="item_content">
            <img [src]="item.img" alt="">
            <div class="item_content_text">
              <label><b>{{ item.title }}</b></label>
              <span>{{ item.author }}</span>
            </div>
          </div>
          <div class="item_icons">
            <img src="assets/home/11.png" alt="">
            <img src="assets/home/12.png" alt="">
            <img src="assets/home/13.png" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div class="right">
      <img src="assets/home/08.png" class="content">
      <img src="assets/home/07.png" alt="">
      <img src="assets/home/06.png" alt="">
    </div>
  </section>
</div>






